KDIVE_EXTERNAL_BOOT_AUTHORITY_INSTANCE={{ live_vm_host_authority_instance }}
KDIVE_EXTERNAL_BOOT_AUTHORITY_UID={{ live_vm_host_authority_uid }}
KDIVE_EXTERNAL_BOOT_AUTHORITY_GID={{ live_vm_host_authority_gid }}
KDIVE_EXTERNAL_BOOT_AUTHORITY_CLIENT_GID={{ live_vm_host_authority_client_gid }}
KDIVE_EXTERNAL_BOOT_AUTHORITY_JOURNAL_DIR=/var/lib/kdive/provider-authority/journal
KDIVE_EXTERNAL_BOOT_AUTHORITY_REQUEST_SOCKET=/run/kdive/provider-authority/request/authority.sock
KDIVE_EXTERNAL_BOOT_AUTHORITY_PROVIDER_SOCKET=/run/kdive/provider-authority/libvirt/libvirt-sock
{% if live_vm_host_authority_local_mutation_enabled | bool %}
KDIVE_LIBVIRT_RECOVERY_ROOT={{ live_vm_host_authority_recovery_root }}
KDIVE_LIBVIRT_EXTERNAL_BOOT_CAPACITY_BYTES={{ live_vm_host_authority_external_boot_capacity_bytes }}
KDIVE_S3_ENDPOINT_URL={{ live_vm_host_authority_s3_endpoint_url }}
KDIVE_S3_BUCKET={{ live_vm_host_authority_s3_bucket }}
KDIVE_S3_REGION={{ live_vm_host_authority_s3_region }}
{% endif %}
